<div class="jumbotron text-center">
    <h1>customer</h1>
    <p>Resize this responsive page to see the effect!</p>
  </div>
  

<nav class="navbar navbar-expand-sm bg-light">

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['add']" routerLinkActive="router-link-active" >add</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['edit']" routerLinkActive="router-link-active" >edit</a>
      </li>

  
  
    </ul>
  
  </nav>
  
